<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio</title>

    <link rel="stylesheet" href="comercio.css">
</head>

<body>

<h1>Pedidos Recibidos</h1>

<div class="container">

{% for pedido in pedidos %}

    <article class="
        {% if pedido[3] == 'pendiente' %}estado-pendiente{% endif %}
        {% if pedido[3] == 'aceptado' %}estado-aceptado{% endif %}
        {% if pedido[3] == 'rechazado' %}estado-rechazado{% endif %}
    ">

        <h3>Pedido: #{{ pedido[0] }}</h3>
        <p>Cliente: {{ pedido[1] }}</p>
        <p>Producto: {{ pedido[2] }}</p>
        <p class="estado">Estado: {{ pedido[3] }}</p>

        {% if pedido[3] == 'pendiente' %}

            <form action="/aceptar_pedido" method="POST">
                <input type="hidden" name="id" value="{{ pedido[0] }}">
                <button class="btn-aceptar">Aceptar</button>
            </form>

            <form action="/rechazar_pedido" method="POST">
                <input type="hidden" name="id" value="{{ pedido[0] }}">
                <button class="btn-rechazar">Rechazar</button>
            </form>

        {% endif %}

    </article>

{% endfor %}

</div>

<script src="comercio.js"></script>

</body>
</html>